<footer>
    <div class="fixed-bottom bg-dark">
        <div class="container">
            <p class="text-white text-center mt-3">Copyright © Footer 2020. I.T. Seminar</p>
        </div>
    </div>
</footer>

