<div class="jumbotron mt-3">
  <h1 class="display-4">I.T. Seminar</h1>
  <p class="lead">This is a simple blog website, using Ruby on Rails and Bootstrap 4</p>
  <hr class="my-4">
  <p>It uses Ruby as a programming language with Rails Framework and Bootstrap 4 for the web design</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">See Blogs</a>
</div>